## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database.ipynb/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,70.27,64,75,9.22,broken clouds
1,1,Okhotsk,RU,59.3833,143.3000,7.70,71,95,15.41,overcast clouds
2,2,Butaritari,KI,3.0707,172.7902,82.67,78,43,17.05,scattered clouds
3,3,Avera,US,33.1940,-82.5271,49.51,80,100,15.50,overcast clouds
4,4,Carnarvon,AU,-24.8667,113.6333,105.87,21,10,12.66,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Butaritari,KI,3.0707,172.7902,82.67,78,43,17.05,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,79.05,68,5,8.55,clear sky
14,14,Phan Thiet,VN,10.9333,108.1000,87.73,49,96,19.91,overcast clouds
29,29,Georgetown,MY,5.4112,100.3354,85.93,80,20,3.00,few clouds
31,31,Cockburn Town,TC,21.4612,-71.1419,75.96,73,0,16.31,clear sky
36,36,Chiang Khong,TH,20.2613,100.4046,78.37,51,12,1.14,few clouds
38,38,Lorengau,PG,-2.0226,147.2712,85.19,64,98,9.01,overcast clouds
40,40,Bengkulu,ID,-3.8004,102.2655,77.45,82,100,2.75,light rain
44,44,Thinadhoo,MV,0.5333,72.9333,81.97,71,100,11.56,overcast clouds
46,46,Acapulco,MX,16.8634,-99.8901,75.02,83,20,0.00,few clouds

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_df = preferred_cities_df.dropna()
clean_city_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Butaritari,KI,3.0707,172.7902,82.67,78,43,17.05,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,79.05,68,5,8.55,clear sky
14,14,Phan Thiet,VN,10.9333,108.1000,87.73,49,96,19.91,overcast clouds
29,29,Georgetown,MY,5.4112,100.3354,85.93,80,20,3.00,few clouds
31,31,Cockburn Town,TC,21.4612,-71.1419,75.96,73,0,16.31,clear sky
...,...,...,...,...,...,...,...,...,...,...
691,691,Yenagoa,NG,4.9247,6.2642,76.24,90,12,2.80,few clouds
692,692,Ta Khmau,KH,11.4833,104.9500,84.25,54,20,8.05,few clouds
694,694,Finschhafen,PG,-6.6024,147.8681,87.06,72,39,12.64,scattered clouds
698,698,Dicabisagan,PH,17.0818,122.4157,75.15,85,97,10.69,overcast clouds
706,706,Popondetta,PG,-8.7537,148.2534,86.95,66,80,7.27,broken clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_df[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Butaritari,KI,82.67,scattered clouds,3.0707,172.7902,
6,Rikitea,PF,79.05,clear sky,-23.1203,-134.9692,
14,Phan Thiet,VN,87.73,overcast clouds,10.9333,108.1000,
29,Georgetown,MY,85.93,few clouds,5.4112,100.3354,
31,Cockburn Town,TC,75.96,clear sky,21.4612,-71.1419,
36,Chiang Khong,TH,78.37,few clouds,20.2613,100.4046,
38,Lorengau,PG,85.19,overcast clouds,-2.0226,147.2712,
40,Bengkulu,ID,77.45,light rain,-3.8004,102.2655,
44,Thinadhoo,MV,81.97,overcast clouds,0.5333,72.9333,
46,Acapulco,MX,75.02,few clouds,16.8634,-99.8901,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Butaritari,KI,82.67,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
6,Rikitea,PF,79.05,clear sky,-23.1203,-134.9692,People ThankYou
14,Phan Thiet,VN,87.73,overcast clouds,10.9333,108.1000,Hotel Saigon-PT
29,Georgetown,MY,85.93,few clouds,5.4112,100.3354,Cititel Penang
31,Cockburn Town,TC,75.96,clear sky,21.4612,-71.1419,Osprey Beach Hotel

In [19]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))